<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <h2>
    {{points}}
  </h2>
  <br>
  <div *ngIf='message'>
    <h5 class="red-text">{{message}}</h5>
  </div>
  <br>
  <button class="btn waves-effect waves-light" (click)="generateLetter()">Get a Letter</button>
  <br>
  <br>
  <div class="row">
    <input class="col s8" #newWord placeholder="Enter a word" type="text">
    <button class="btn waves-effect waves-light col s4" (click)="addWord(newWord.value); newWord.value=''">Add Word</button>
  </div>
</div>

<div>
  <h4>Letters</h4>
  <div class="row">
    <div *ngFor="let letter of letters" class="chip">
      <span class="blue-text">{{letter.amount}}</span>
      {{letter.char}}
    </div>
  </div>
</div>

<div>
  <h4>Words</h4>
  <div class="row">
    <div *ngFor="let word of words" class= "chip">
      <span>{{word}}</span>
    </div>
  </div>
</div>
